body {
  background-color: #36474f;
}

.navbar-header {
  height: 15px;
}

.fa.fa-bars {
  color: #536e7b;
  margin: 15px 5px;
}

.center {
  text-align: center;
  color: #7dcbc4;
  margin-top: 15%;
}

.btn.btn-primary {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.container.for-button {
  width: 250px;
  height: 250px;
  border: dashed 4px #8fa4af;
  display: inline-block;
  margin: 30px;
}

.container .btn.btn-confirm {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 75px;
  margin-top: 75px;
}

.container P {
  text-align: center;
  margin: 5px;
  color: #8fa4af;
}

.form.input {

}
